{% extends "base.html" %}
{% load static %}
{% block title %}Add data{% endblock title %}
{% block content %}
<div class="min-h-screen">
    <form action="" method="POST">
        {% csrf_token %}
        {% for form in form %}
        {{form.label_tag}}
        {{form}}
        {% if form.errors %}
        <div>
            {{form.errors}}
        </div>
        {% endif %}
        {% endfor %}
        <button class="mx-1 bg-blue-500 rounded-md p-2 text-sm text-white hover:shadow-md" type="submit">submit</button>
    </form>
</div>
{% endblock content %}