{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}
<div class="container mx-auto mt-6 min-h-screen">
    <table class="table-auto border-collapse border border-gray-300 w-full text-left">
        <thead class="bg-gray-200">
            <tr>
                <th class="border border-gray-300 px-4 py-2">#</th>
                <th class="border border-gray-300 px-4 py-2">Username</th>
                <th class="border border-gray-300 px-4 py-2">Title</th>
                <th class="border border-gray-300 px-4 py-2">Description</th>
                <th class="border border-gray-300 px-4 py-2">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr class="{% cycle 'bg-white' 'bg-gray-50' %}">
                <td class="border border-gray-300 px-4 py-2">{{ forloop.counter }}</td>
                <td class="border border-gray-300 px-4 py-2">{{ item.user.username }}</td>
                <td class="border border-gray-300 px-4 py-2">{{ item.title }}</td>
                <td class="border border-gray-300 px-4 py-2">{{ item.description|striptags|truncatechars:200 }}</td>
                <td class="border border-gray-300 px-4 py-2">
                    <a class="mx-1 bg-yellow-300 rounded-md p-2 text-sm text-black hover:shadow-md" href="{% url "update" item.id %}">Update</a>
                    <a class="mx-1 bg-green-300 rounded-md p-2 text-sm text-black hover:shadow-md" href="{% url "details" item.id %}">Show</a>
                    <a class="mx-1 bg-red-300 rounded-md p-2 text-sm text-black hover:shadow-md" href="{% url "delete" item.id %}">Delete</a>
                </td>
            </tr>
            {% empty %} 
            <tr>
                <td colspan="4" class="border border-gray-300 px-4 py-2 text-center text-gray-500">
                    No data available.
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
